<!DOCTYPE html>
<html>
<head>
<title>Flask Websockets Demo</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript" src="static/js/bang.js"></script>
</head>
    <body>
        <button class="start_game">Start Game</button>
        <div id="playerContainer">

            <div>
                Player1:
            </div>
            <div>
                Player2:
            </div>
            <div>
                Player3:
            </div>
            <div>
                Player4:
            </div>
            <div>
                Player5:
            </div>
        </div>
        <div id="voteContainer">
            <div>
                <p id="Beer">Beer
                    <button class="Plus">+</button>
                    <button class="Minus">-</button>
                    <span>0</span>
                </p>
                <p id="Shot1">Shot1
                    <button class="Plus">+</button>
                    <button class="Minus">-</button>
                    <span>0</span>
                </p>
                <p id="Shot2">Shot2
                    <button class="Plus">+</button>
                    <button class="Minus">-</button>
                    <span>0</span>
                </p>
                <p id="Arrow">Arrow
                    <button class="Plus">+</button>
                    <button class="Minus">-</button>
                    <span>0</span>
                </p>
                <p id="Gatling">Gatling
                    <button class="Plus">+</button>
                    <button class="Minus">-</button>
                    <span>0</span>
                </p>
                <p id="Dynamite">Dynamite
                    <button class="Plus">+</button>
                    <button class="Minus">-</button>
                    <span>0</span>
                </p>
            </div>
        </div>

        <button id="roll">
            Roll
        </button>

    </body>
</html>